<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My name is Daniel Rabiencný and I'm 20 years old. I'm a person of many interests. Before I engaged into IT, my interests were mainly history and philosophy. My IT journey started back in 2020 when I learned the basics of web development (HTML & CSS). In 2021 I got selected to an IT programme for high-schoolers <a href="https://www.microsoft.com/cs-cz/education/students/stc" target="_blank">Microsoft Student Trainee Center</a> where I got introduced to Microsoft technologies - and oh boy I fell in love with them &hearts;</p>
      </div>
      <div class="col-lg-4">
        <p>In the past two years, I gained job experience in MS technologies, primarily focusing on Microsoft Power Platform and Modern Workplace. I'm also a <a href="https://studentambassadors.microsoft.com/" target="_blank">Microsoft Learn Student Ambassador</a>, educating others about AI using Microsoft Azure. Additionally, I'm an active member of <a href="https://www.czechitas.cz/" target="_blank">Czechitas</a>, a non-profit organization aiming to diversify the IT job market by empowering women to get into IT. I coach courses on data analysis, including SQL, Power BI, and ER diagrams. That's a brief summary of what I do</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
       
      </div>
    </div>
  </div>
</section>
